:root {
  --vmargin: 3vh;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans[wdth,wght].woff2') format('woff2-variations');
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2-variations');
  font-style: italic;
}

body {
  width: 100vw;
  height: calc(100vh - 2 * var(--vmargin));
  margin: var(--vmargin) 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--vmargin);

  font-family: 'OpenSans';
  letter-spacing: 0.3px;
  /* font-size: x-large; */
  font-size: calc(1em + 0.5vw);
}

.row {
  width: 95%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 2.5%;

  text-align: center;
}

footer {
  /* font-size: large; */
}

.main-title {
  width: 80%;
  margin: auto;
  gap: var(--vmargin);
}

.main-body {
  height: 100%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--vmargin);
}

.logos {
  height: 10vh;
  margin-bottom: 5rem;
}

.title {
  margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 1rem 0;
  padding-left: 1rem;
}

/* ul > :first-child { */
/*   color: blue; */
/* } */

.center {
  margin: auto;
}

.grid {
  display: grid;
  gap: 5%;
  align-items: center;
  justify-items: center;
}

.fill {
  width: 100%;
  height: 100%;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.lrr {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.lrr> :first-child {
  grid-row-end: span 2;
}

.lrR {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.lrR> :first-child {
  grid-row-end: span 3;
}

.lrR> :nth-child(3) {
  grid-row-end: span 2;
}

.lRr {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.lRr> :first-child {
  grid-row-end: span 3;
}

.lRr> :nth-child(2) {
  grid-row-end: span 2;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.red {
  color: red;
}

{% for logo in logos %}
#logo{{ loop.index }} {
  background-image: url("{{ logo }}");
}
{% endfor %}

svg.display {
  height: 1em;
  width: auto;
}

svg.inline {
  height: 1em;
  width: auto;
}

.reference {
  font-size: calc(0.3*(1em + 0.5vw));
}
