{% extends "body.html.jinja2" %}
{% block content %}
<div class="grid two-columns">
    <div>
        {{ content[0] }}
    </div>
    <div>
        {{ content[1] }}
    </div>
</div>
{% endblock content %}
