{% extends "body.html.jinja2" %}
{% block content %}
<div class="grid two-columns">
    <div>
        {{ content }}
    </div>
    <div class="image" style="background-image: url({{image}});">
    </div>
</div>
{% endblock content %}
